# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  omniauth:
    facebook:
      # It must be a boolean. Remember ENV variables doesn't support booleans.
      enabled: false
      app_id: <%= ENV["OMNIAUTH_FACEBOOK_APP_ID"] %>
      app_secret: <%= ENV["OMNIAUTH_FACEBOOK_APP_SECRET"] %>
    twitter:
      enabled: false
      api_key: <%= ENV["OMNIAUTH_TWITTER_API_KEY"] %>
      api_secret: <%= ENV["OMNIAUTH_TWITTER_API_SECRET"] %>
    google_oauth2:
      enabled: false
      client_id: <%= ENV["OMNIAUTH_GOOGLE_CLIENT_ID"] %>
      client_secret: <%= ENV["OMNIAUTH_GOOGLE_CLIENT_SECRET"] %>
  geocoder:
    here_app_id: <%= ENV["GEOCODER_LOOKUP_APP_ID"] %>
    here_app_code: <%= ENV["GEOCODER_LOOKUP_APP_CODE"] %>
  mailer_sender: <%= ENV["MAILER_SENDER"] || "change-me@domain.org" %>
  http_basic_authentication:
    name: <%= ENV["HTTP_BASIC_AUTH_NAME"] %>
    password: <%= ENV["HTTP_BASIC_AUTH_PASSWORD"] %>
  participation_registry_ws_url: <%= ENV["PARTICIPATION_REGISTRY_WS_URL"] %>
development:
  <<: *default
  secret_key_base: bc0259f38863b6ab46de15602911f4588699c5c45c7d95600d2d6c5e5f02b6a5c2e22b7d734a8276e53c7abe87b90e337293e8731b79dea25bfa1904de35944e
  omniauth:
    developer:
      enabled: true

test:
  <<: *default
  secret_key_base: 654ac49e35dc0c481920c703dddf182d8dceb0009fb6d216a93f70ac40f0b8ee83e30e41bf12013dbf26c2bc7a59fec3481fb28f05aa22a191ca06b26d896e71
  omniauth:
    facebook:
      enabled: true
    twitter:
      enabled: true
    google_oauth2:
      enabled: true

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  smtp_username: <%= ENV["SMTP_USERNAME"] %>
  smtp_password: <%= ENV["SMTP_PASSWORD"] %>
  smtp_address: <%= ENV["SMTP_ADDRESS"] %>
  smtp_port: <%= ENV["SMTP_PORT"] || "587" %>
  smtp_starttls_auto: true
  aws_access_key_id: <%= ENV["AWS_ACCESS_KEY"] %>
  aws_secret_access_key: <%= ENV["AWS_SECRET_KEY"] %>
