<%= form.all_fields %>

<% if form.object.errors.messages[:document_number].present? && controller_name != 'impersonations' %>
  <div class="callout announcement secondary">
    <%= t('.error_instructions').html_safe %>
  </div>
<% end %>
