<div class="field">
  <%= form.text_field :document_number %>
</div>

<div class="field date">
  <%= form.select :year, (Date.today.year - 120)..(Date.today.year - 15) %>
</div>

<%= form.hidden_field :handler_name %>

<% if form.object.errors.any? controller_name != 'impersonations' %>
  <div class="callout announcement secondary">
    <%= t('.error_instructions').html_safe %>
  </div>
<% end %>
